<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>
	

	<targets async="true">

		<target name="elastic" 
				xsi:type="ElasticSearch" 
				index="project.3pmybil.api-${date:format=yyyy.MM.dd}"
                uri="http://localhost:9200"
                layout="[${uppercase:${level}}] ${message} ${exception:format=tostring}" >
			<field name="env" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
		</target>

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	

	<rules>
		<logger name="*" levels="Warn,Error,Fatal" writeTo="elastic" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="lifetimeConsole" />
	</rules>
</nlog>